* {
    margin: 0;
    padding: 0;
}

.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 82vh;
    position: relative;
}

.hero-img::before {
    content: "";
    background: url(https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?size=626&ext=jpg&ga=GA1.2.1766830561.1696007459&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}